@tailwind base;
@tailwind components;
@tailwind utilities;

div {
	box-sizing:border-box; 
  }

  *::selection{
    background-color: red;
  }
*{
  text-wrap: balance
}
body {
  cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogIDxkZWZzLz4KICA8Zz4KICAgIDxwYXRoIHN0cm9rZT0iY3VycmVudENvbG9yIiBmaWxsPSIjZmZmIiBkPSJNNC4zNSA0LjM1IEw0LjkgNC4wNSA1LjQgNCA1Ljg1IDQuMDUgNi4yNSA0LjM1IDIxLjMgMTcuNyAyMS40NSAxNy45NSAyMS42IDE4IDIxLjg1IDE4LjQ1IDIyIDE4Ljg1IDIyIDE5LjQ1IDIxLjg1IDE5LjkgMjEuNDUgMjAuMzUgMjEgMjAuNTUgMjAuOCAyMC42NSAyMC41NSAyMC42NSAxMi45IDIwLjY1IDEyLjEgMjAuOCBRMTEuNyAyMC45NSAxMS40IDIxLjI1IEwxMS4yNSAyMS40NSAxMC45NSAyMS43IDYuNiAyNy4xNSA2LjQgMjcuNTUgNi4xNSAyNy43NSBRNS43IDI4LjA1IDUuMiAyOCA0Ljc1IDI3LjkgNC4zNSAyNy42IEw0LjA1IDI3LjEgNCAyNi42NSA0IDUuNSA0LjA1IDQuOTUgNC4zNSA0LjM1Ii8+CiAgPC9nPgo8L3N2Zz4=') 8 8, auto;
}
a, button, input, [onclick], [role="button"], input[type="submit"], input[type="button"], .clickable {
  cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogIDxkZWZzLz4KICA8Zz4KICAgIDxwYXRoIHN0cm9rZT0iY3VycmVudENvbG9yIiBmaWxsPSIjZmZmIiBkPSJNMjUuNyAxNy43IEwyNS43NSAxNy43NSBRMjYuMjUgMTkuMzUgMjUuODUgMjAuOTUgTDI1Ljg1IDIxLjA1IDI1LjM1IDIyLjQgUTI0LjI1IDI0Ljc1IDIxLjggMjUuNTUgTDIxLjc1IDI1LjYgMTguMzUgMjUuOSBRMTYuNyAyNS40IDE1IDI0LjM1IDEzLjEgMjMuMiAxMC44NSAyMi44IEw3LjY1IDIyLjcgNy41IDIyLjc1IDYuNyAyMi41IDYuNiAyMi40IFE2LjEgMjIgNiAyMS40NSBMNiAyMS41IFE1LjkgMjAuOSA2LjMgMjAuNDUgTDYuMzUgMjAuMzUgUTYuNjUgMjAgNy4xIDE5Ljk1IDguMzUgMTkuOCA5LjY1IDE5Ljk1IEwxMC45NSAxOS42NSAxMS43NSAxOC42IFExMS45NSAxNy45IDExLjc1IDE3LjI1IEw4LjIgNy42NSBRNy45NSA3LjA1IDguMDUgNi43IDguMjUgNi40IDguODUgNi4yIEw4Ljk1IDYuMiBRMTAuMTUgNS43IDEwLjg1IDYuOCBMMTAuODUgNi44NSAxMi42IDExLjQ1IFExMi44IDEyLjEgMTMuNDUgMTIuNDUgMTQgMTIuOCAxNC43IDEyLjc1IEwyMS42IDExLjkgMjMuMiAxMiAyMy42NSAxMi40NSAyNC4wNSAxMy4yNSAyNC4wNSAxMy4zIDI1LjcgMTcuNyIvPgogIDwvZz4KPC9zdmc+') 8 8, pointer;
}